body.vscode-light{
    --color: black;
    --intcolor: #4b692f;
    --boolcolor: #3f3f74;
    --linkcolor: #ac3232;
    --blockcolor: #ac6b02;
    --backgroundcolor: #696a6a;
}

body.vscode-dark {
    --color: white;
    --intcolor: #6abe30;
    --boolcolor: #5b6ee1;
    --linkcolor: #b7462e;
    --blockcolor: #d0902a;
    --backgroundcolor: #696a6a;
}

body.vscode-high-contrast{
    --color: white;
    --intcolor: #99e550;
    --boolcolor: #639bff;
    --linkcolor: #d98144;
    --blockcolor: #fbf236;
    --backgroundcolor: #696a6a;
}


#pileExecution td, th {
    border: 2px solid var(--color);
    font-weight: 800;
    padding: 10px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

#instructionList .num{
    text-align: right;
}

#instructionList .highlighted{
    background-color: var(--backgroundcolor);
}


#pileExecution, #legende {
    width: 100%;
    /* border: 2px solid var(--color);
    font-weight: 800;
    padding: 10px;
    text-align: center; */
    /* height: 100%; */
}

#instructionList{
    border: 0px;
}

.div{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 10px;
}


.integer {
    color: var(--intcolor);
}
#pileExecution tr:hover{
    background-color: var(--backgroundcolor);
}
.boolean {
    color: var(--boolcolor);
}
.address {
    color: var(--linkcolor);
}
.bottomBlock {
    color: var(--blockcolor);
    border-top: 0px;    
}
.topBlock{
    color: var(--blockcolor);
    border-bottom: 0px;
}
.block{
    color: var(--blockcolor);
}

h1 {
    text-align: center;
}